footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    border-top: 1px #CCCCCC solid;
    text-align: center;
    margin: auto;
}

footer p {
    margin: 20.8px auto;
}
